# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
.build/
*.egg-info/
